# Usage: pip install -r requirements.txt

# Simulation ----------------------------------------
carla==0.9.15

# Video Stream ---------------------------------------
Flask>=2.2.5
opencv-python==4.8.1.78
numpy==1.23.5
Werkzeug>=3.0.6
pygame>=2.0.0